html, body {
  margin: 0%;
  background-color: #edf0f5;
  width:;
  height: 10;
  "

}

.header {
  background-color: #3b5998;
  width: 100%;
  height: 82px;
  border-bottom: 1px solid #133783;
}

body .header a {
  color: #fff;
}

div {
  display: block;
}

.headerStyle {
  /* float: left; */
  zoom: 1.2;
  font-size: 45px;
  font-weight: bolder !important;
  color: white;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  display: inline-block;
  margin-top: 17px;
}

.headerStyle h1 {
  font-weight: unset !important;
}

.headerform {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table {
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 1px;
  display: table;
  border-color: grey;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

table tr td {
  padding: 0 0 0 14px;
}

td label {
  text-align: left;
}

td {
  font-size: 12px;
  display: table-cell;
  vertical-align: inherit;
}

.loginlabel {
  color: #fff;
  font-weight: normal;
  padding-left: 1px;
  cursor: default;
  vertical-align: middle;
}

.loginButton input[type=submit] {
  background: #597fb8;
  border: 1px solid #143463;
  color: #fff;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  border-radius: 2px;
}

.btn-success {
  background: linear-gradient(#67ae55, #578843) !important;
  background-color: #69a74e !important;
  box-shadow: inset 0 1px 1px #a4e388 !important;
  border-color: #3b6e22 #3b6e22 #2c5115 !important;
  min-width: 194px !important;
  padding: 7px 20px !important;
  text-align: center !important;
  font-size: 19px !important;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility !important;
  margin-bottom: 4%;
}

.btn-success:hover {
  background: linear-gradient(#79bc64, #578843) !important;
}

input[type="submit"] {
  -webkit-appearance: push-button;
  user-select: none;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
}

.signUp {
  font-size: 36px !important;
  margin-bottom: 5px !important;
  line-height: 120% !important;
}

.dob {
  margin: 2% 0 4% 0;
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
}

.gender {
  color: black !important;
  font-weight: lighter !important;
}

.login_form_a {
  padding-top: 1px;
}

a {
  color: #385898 !important;
  cursor: pointer;
  text-decoration: none;
}

.forgotAcc {
  color: #9cb4d8 !important;
  /* font-weight: normal; */
  /* padding-top: 3px; */
}

.forgotAcc:hover {
  color: #a0b7da;
  /* font-weight: normal; */
  /* padding-top: 3px; */
}

.h2-appbody {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  color: #333;
  padding: 42px 0 24px;
  font-size: 28px;
  line-height: 36px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.appBodyLeft {
  margin-top: 14px;
  padding-bottom: 10px;
}

.appBodyIcon {
  vertical-align: middle;
  margin-right: 16px;
}

.appBodySpan {
  display: inline-block;
}

.appSpan1 {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  margin-top: 20px;
  font-size: 17px;
  line-height: 22px;
}

.appSpan2 {
  color: #666;
  font-size: 15px;
  line-height: 20px;
}

input {
  /* -webkit-writing-mode: horizontal-tb !important; */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  font: 400 13.3333px Arial;
}

input [type="text"] {
  font-size: 18px;
  padding: 8px 10px;
  border-color: #bdc7d8;
  border-radius: 5px;
  margin: 0;
  color: #1c1e21;
  -webkit-appearance: none;
  border: 1px solid #ccd0d5;
}

.footer {
  color: #737373;
  margin: 0 auto;
  /*width: 980px; */
  background-color: #fff;
  min-height: 100px;
  padding-top: 1.70rem;
}

.buzlink {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
  margin-bottom: 4%;
}

.list-group-item {
  border: unset !important;
  padding: .25rem 0.70rem !important;
  font-size: 12px !important;
}

.copyright {
  margin-top: 1vh !important;
  font-size: 10px !important;
  margin-bottom: 1.70rem !important;
}